<ng-container *ngIf="currentJuego; else listadoJuegos">
  <div class="detalle-juego">
    <h2>{{ currentJuego.nombre }}</h2>
    <p>{{ currentJuego.descripcion }}</p>
    <p><strong>Género:</strong> {{ currentJuego.genero }}</p>
    <p><strong>Precio:</strong> {{ currentJuego.precio | currency:'USD' }}</p>
    <p><strong>Ranquin:</strong> {{ currentJuego.ranquin }}</p>

    <div *ngIf="currentJuego && currentJuego.juegoImagens && currentJuego.juegoImagens.length > 0"
      class="banner-container">
      <img [src]="getImagenUrl(currentJuego.juegoImagens[bannerIndex].url)" alt="Imagen banner" class="banner-img" />
      <div class="miniaturas">
        <ng-container *ngFor="let img of currentJuego.juegoImagens; let i = index">
          <img [src]="getImagenUrl(img.url)" (click)="bannerIndex = i" [class.active]="i === bannerIndex"
            alt="Miniatura" />
        </ng-container>
      </div>
    </div>

    <div style="display: flex; gap: 10px; justify-content: center; margin-top: 18px;">
      <button class="btn-carrito" (click)="agregarAlCarrito(currentJuego)">Agregar al carrito</button>
    <button (click)="cerrarDetalle()">Atrás</button>
    </div>
  </div>
</ng-container>

<!-- Listado de juegos -->
<ng-template #listadoJuegos>
  <app-busqueda-barra [tipo]="'juegos'" [generos]="generos" [rangosPrecio]="rangosPrecio"
    [rangosRanking]="rangosRanking" [nombreSugerencias]="nombreSugerencias"
    [mostrarSugerenciasNombre]="mostrarSugerenciasNombre" (buscar)="onBusquedaBarra($event)"
    (limpiar)="limpiarFiltros()" (autocompletar)="onAutocompletarBarra($event)"
    (seleccionarSugerencia)="onSeleccionarSugerenciaBarra($event)">
  </app-busqueda-barra>
  <div *ngIf="juegosPaginados.length > 0; else noJuegos" class="grid-juegos">
    <div *ngFor="let juego of juegosPaginados" class="juego-card">
      <div class="imagen-container">
        <img [src]="getImagenUrl(juego.juegoImagens[0].url)" alt="Imagen resumen" />
      </div>
      <div class="contenido-juego">
        <h3>{{ juego.nombre }}</h3>
        <p>{{ juego.descripcion | slice:0:50 }}...</p>
        <p><strong>Precio:</strong> {{ juego.precio | currency:'USD' }}</p>
        <div class="botones-juego">
          <button (click)="verJuego(juego)">Ver más</button>
          <button class="btn-carrito" (click)="agregarAlCarrito(juego)">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>

  <div class="paginacion">
    <button (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
      <span class="pagina-numero" [class.activa]="i === currentPage" (click)="goToPage(i)">{{ i + 1 }}</span>
    </ng-container>
    <button (click)="nextPage()" [disabled]="currentPage + 1 >= totalPages">Siguiente</button>
  </div>

  <ng-template #noJuegos>
    <p>No hay juegos para mostrar.</p>
  </ng-template>
</ng-template>