<div class="empresa-container">
  <div class="empresa-detalle">
    <div class="cuadro">
      <h3>Misión</h3>
      <p>{{ empresa?.mision }}</p>
    </div>
    <div class="cuadro">
      <h3>Visión</h3>
      <p>{{ empresa?.vision }}</p>
    </div>
  </div>
</div>

<!-- Ofertas Especiales -->
<div class="ofertas-especiales-container">
  <h2>Ofertas Especiales</h2>
  <div class="grid-juegos">
    <div *ngFor="let juego of juegosOferta" class="juego-card">
      <div class="imagen-container" (click)="verJuego(juego)">
        <img [src]="juego.juegoImagens[0]?.url" alt="Imagen juego" />
      </div>
      <div class="contenido-juego">
        <h3>{{ juego.nombre }}</h3>
        <p>{{ juego.descripcion | slice:0:50 }}...</p>
        <p><strong>Precio:</strong> {{ juego.precio | currency:'USD' }}</p>
        <div class="botones-juego">
          <button (click)="verJuego(juego)">Ver más</button>
          <button class="btn-carrito" (click)="agregarAlCarrito(juego)">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Noticias Recientes -->
<div class="noticias-recientes-container">
  <h2>Noticias Recientes</h2>
  <div class="grid-noticias" style="justify-content:center;">
    <div *ngFor="let noticia of noticiasRecientes" class="noticia-card" style="margin: 0 auto; max-width: 420px;">
      <div class="imagen-container" (click)="verNoticia(noticia)">
        <img [src]="noticia.noticiaImagens[0]?.url" alt="Imagen noticia" />
      </div>
      <div class="contenido-noticia" style="align-items:center; text-align:center;">
        <h3>{{ noticia.titulo }}</h3>
        <p>{{ noticia.descripcion | slice:0:50 }}...</p>
        <button (click)="verNoticia(noticia)">Ver más</button>
      </div>
    </div>
  </div>
</div>




